In [2]:
import pandas as pd

In [47]:
# load datasets
make_df =  pd.read_csv('Make.csv')
auction_df = pd.read_csv('USA_cars_datasets.csv')
sales_df = pd.read_csv('Car_sales.csv')
msrp_df = pd.read_csv('data.csv')

In [75]:
# drop na values
auction_df.dropna(how='all', inplace=True)

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

# Auction

In [76]:
# make_df cleaning steps
auction_df.country.unique()

# drop columns with country=Canada
auction_df2 = auction_df[['Unnamed: 0', 'price', 'brand', 'year', 'color', 'state', 'country', 'mileage']].copy()

In [77]:

index = auction_df2[auction_df2['year'] > 2017].index
auction_df2.drop(index, inplace=True)

In [78]:
#confirm years are between 1993-2017
auction_df2.year.unique()

array([2008, 2011, 2014, 2010, 2017, 2009, 2013, 2015, 2016, 1973, 2003,
       2002, 2000, 2001, 2005, 2012, 2006, 2007, 1998, 2004, 1994, 1997,
       1996, 1999, 1984, 1995, 1993], dtype=int64)

In [79]:
# remove canada from dataframe
index = auction_df2[auction_df2['country'] == 'canada'].index
auction_df2.drop(index, inplace=True)

In [80]:
# noted that country had a space before the usa
auction_df2.country.unique()

array([' usa'], dtype=object)

In [81]:
# remove space
auction_df2.country = auction_df2.country.str.replace(' ', '')

In [82]:
auction_df2.country.unique()

array(['usa'], dtype=object)

In [86]:
auction_clean = auction_df2.rename(columns={'Unnamed: 0': 'id'})

In [89]:
# export to clean .csv
auction_clean.to_csv(r'auction_clean.csv', index=False)

In [103]:
auction_clean

        id  price      brand  year   color       state country   mileage
0        0   6300     toyota  2008   black  new jersey     usa  274117.0
1        1   2899       ford  2011  silver   tennessee     usa  190552.0
3        3  25000       ford  2014    blue    virginia     usa   64146.0
6        6   7300  chevrolet  2010   black     georgia     usa  149050.0
7        7  13350        gmc  2017    gray  california     usa   23525.0
...    ...    ...        ...   ...     ...         ...     ...       ...
2444  2444  15200     nissan  2016  orange    illinois     usa   59640.0
2445  2445   1950     nissan  2015    blue  california     usa   83975.0
2446  2446  13400     nissan  2016   black    illinois     usa   46178.0
2453  2453   1500     nissan  2013   black    maryland     usa   98384.0
2470  2470   3700     nissan  2015  silver    illinois     usa   75858.0

[1164 rows x 8 columns]

# sales

In [51]:
sales_df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [95]:
# drop NaN values
sales_df = sales_df.dropna()

In [97]:
sales_clean = sales_df.rename(columns={'__year_resale_value': 'resale_value'})

In [101]:
sales_clean.reset_index(drop=True, inplace=True)

In [106]:
sales_clean['Manufacturer'] = sales_clean['Manufacturer'].str.lower()
sales_clean['Model'] = sales_clean['Model'].str.lower()

In [107]:
sales_clean

,Manufacturer,Model,Sales_in_thousands,resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,acura,integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,acura,tl,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,acura,rl,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
3,audi,a4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
4,audi,a6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,volkswagen,golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0,1/24/2011,46.943877
113,volkswagen,jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,8/27/2011,47.638237
114,volkswagen,passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
115,volkswagen,cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
116,volkswagen,gti,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,4/1/2011,47.946841

In [ ]:
# drop last two columns 
sales_clean

In [111]:
sales_clean = sales_clean.drop(['Latest_Launch', 'Power_perf_factor', 'Vehicle_type'], axis=1)

In [112]:
sales_clean

,Manufacturer,Model,Sales_in_thousands,resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency
0,acura,integra,16.919,16.360,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0
1,acura,tl,39.384,19.875,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0
2,acura,rl,8.588,29.725,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0
3,audi,a4,20.397,22.255,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0
4,audi,a6,18.780,23.555,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,volkswagen,golf,9.761,11.425,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0
113,volkswagen,jetta,83.721,13.240,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0
114,volkswagen,passat,51.102,16.725,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0
115,volkswagen,cabrio,9.569,16.575,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0
116,volkswagen,gti,5.596,13.760,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0

In [114]:
# export to .csv
sales_clean.to_csv('sales_clean.csv', index=True)

# MSRP

In [120]:
msrp_df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,bmw,1 series m,2011,premium unleaded (required),335.0,6.0,manual,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,bmw,1 series,2011,premium unleaded (required),300.0,6.0,manual,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,bmw,1 series,2011,premium unleaded (required),300.0,6.0,manual,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,bmw,1 series,2011,premium unleaded (required),230.0,6.0,manual,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,bmw,1 series,2011,premium unleaded (required),230.0,6.0,manual,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,premium unleaded (required),300.0,6.0,automatic,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,acura,zdx,2012,premium unleaded (required),300.0,6.0,automatic,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,acura,zdx,2012,premium unleaded (required),300.0,6.0,automatic,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,acura,zdx,2013,premium unleaded (recommended),300.0,6.0,automatic,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,lincoln,zephyr,2006,regular unleaded,221.0,6.0,automatic,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [121]:
# drop NaN values
msrp_df = msrp_df.dropna()

In [122]:
msrp_df['Make'] = msrp_df['Make'].str.lower()
msrp_df['Model'] = msrp_df['Model'].str.lower()
msrp_df['Transmission Type'] = msrp_df['Transmission Type'].str.lower()

In [123]:
msrp_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,bmw,1 series m,2011,premium unleaded (required),335.0,6.0,manual,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,bmw,1 series,2011,premium unleaded (required),300.0,6.0,manual,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,bmw,1 series,2011,premium unleaded (required),300.0,6.0,manual,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,bmw,1 series,2011,premium unleaded (required),230.0,6.0,manual,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,bmw,1 series,2011,premium unleaded (required),230.0,6.0,manual,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [124]:
msrp_df.to_csv('msrp_clean.csv', index=True)